<p id="notice"><%= notice %></p>

<%= link_to 'Back', issues_path %> | 
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Destroy', @issue, method: :delete, data: { confirm: 'Are you sure?' } %>

<h1> <%= @issue.name %> </h1>

<p>
  <%= image_tag (@issue.images)  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>


